@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');


.flex-unicenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 5px 10px;
    background-color: skyblue;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 4px;
    font-family: 'Yomogi', cursive;
}

.btn:hover{
    background-color: whitesmoke;
    font-weight: bold;
}